/* #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;

  background: rgb(88, 155, 111);
  padding: 1em;
}

#header h1 {
  font-size: 2.4em;
  color: white;
  text-shadow: 1px 1px 3px black;
} */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #63033096;
  height: 100%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  display: block;
  justify-content: center;
  padding: 34px 20px 30px;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
}

.header a:hover {
  background-color: white;
  color: black;
  height: 100%;
}

.header a.active {
  /* background-color: #915c6d; */
  /* color: white; */
  height: 100%;
}

.logo {
  color: rgb(5, 34, 34);
  font-size: 35px;
  padding: 0px 15px;
  text-shadow: white 1px 2px;
  /* text-align: center;
  justify-content: center; */
  float: left;
  /* background-color: yellowgreen; */
}
.admin {
  float: right;
}
