body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.loggedIn {
  overflow: hidden;
  background-color: #ffc000;
  height: 100%;
}
.loggedIn a {
  float: left;
  color: black;
  text-align: center;
  display: block;
  justify-content: center;
  padding: 34px 20px 30px;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
}
.loggedIn a:hover {
  background-color: white;
  color: black;
  height: 100%;
}

.loggedIn a.active {
  background-color: #e4e2e2;
  color: white;
  height: 100%;
}

.loggedOut {
  overflow: hidden;
  background-color: #ffc000;
  height: 100%;
}
.loggedOut a {
  float: left;
  color: black;
  text-align: center;
  display: block;
  justify-content: center;
  padding: 34px 20px 30px;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
}
.loggedOut a:hover {
  background-color: white;
  color: black;
  height: 100%;
}
#logout-button {
  font-size: 20px;
  text-align: center;
  background-color: #ffc000;
  padding: 34px 20px 30px;
  text-transform: capitalize;
  display: block;
  float: right;
}
#admin {
  float: right;
}
